.cuerpo {
    position: relative;
    margin: auto;
}

h1 {

    margin: 0;
    font-size: 35px;
    text-shadow: 0 0 10px rgb(238, 62, 214), 0 0 15px rgb(238, 62, 214), 0 0 25px rgb(238, 62, 214), 0 0 40px rgb(238, 62, 214);
    font-family: 'Courgette', cursive;
    color: white;
    animation: parpadear 1s infinite backwards steps(2);

}
.espacio{
    margin: 10px;
}
@keyframes parpadear {
    to {
        color: gray;
        text-shadow: none;
    }
}
.container {

    padding: 10px;
    text-align: center;
    border: 2px solid white;
    box-shadow: inset 0 0 8px rgb(238, 62, 214), 0 0 16px rgb(238, 62, 214);
    border-radius: 20px;
    max-width: 300px;
    margin: auto;
    background-color: black;

}

.tabla {
    padding: 10px;
    text-align: center;
    border: 4px solid white;
    box-shadow: inset 0 0 8px rgb(238, 62, 214), 0 0 16px rgb(238, 62, 214), 0 0 26px rgb(238, 62, 214), 0 0 36px rgb(238, 62, 214);
    border-radius: 20px;
    max-width: 700px;
    margin: auto;
    animation: parpadear2 1s infinite backwards steps(2);

}

@keyframes parpadear2 {
    to {
        color: gray;
        box-shadow: none;
    }
}

body {
    background-color: black;
    background-image: url(../imagenes/fondo.jpg);
}

button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgb(160, 37, 144);
    --enhanced-glow-color: rgb(217, 176, 255);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin: 30px;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}